
{% extends 'main.html' %}
{% load static %}
{% block content %}


    <main class=" layout">
      <div class="row">
      <div class="container col-lg-6 d-none d-md-block">
        <img src="{% static 'images/Texting-bro.svg' %}" alt="">
      </div>
      {% if page == 'login' %}
      <!-- <div class="main2"> -->
      <div class=" col-lg-5  border border-2 rounded p-0 mt-5 me-5">
        <div class="card">
          <!-- <div class="layout__boxHeader2"> -->
            <div class="layout__boxTitle2 card-header text-uppercase text-center">
              <h3>Login</h3>
            </div>
          <!-- </div> -->
          <div class="card-body container">
            <h4 class="auth__tagline text-uppercase text-center">Find your study partner</h2>

            <form class="form" action="" method="post">
              {% csrf_token %}
              <div class="form__group form__group">
                <label for="room_name" class="form-label">Email</label>
                <input class="form-control" id="username" name="email" type="email" placeholder="" />
              </div>
              <div class="form__group">
                <label for="password">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                />
              </div>

              <button class="btn btn-primary mt-2" type="submit">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  viewBox="0 0 32 32"
                >
                  <title>lock</title>
                  <path
                    d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"
                  ></path>
                  <path
                    d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"
                  ></path>
                </svg>

                Login
              </button>
            </form>

            <div class=" text-center m-3">
              <p class="m-0 p-0">Haven't signed up yet?</p>
              <a href="{% url 'register' %}" class="m-0 p-0 fw-bold" style="color:#8c00ff">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->

      {% else %}
      <div class="container col-lg-5 card border border-2 rounded p-0 mt-5 me-5">
        <div class="">
          <div class="">
            <div class="card-header text-uppercase text-center">
              <h3>Sign up</h3>
            </div>
          </div>
          <div class="container card-body p-3">
            <h4 class=" text-uppercase text-center">Find your study partner</h2>

            <form class="form" action="" method="POST">
              {% csrf_token %}
    
              {% for field in form %}
              <div class="">
                <label for="room_name">{{field.label}}</label>
                {{field}}
              </div>
              {% endfor %}
    
    
              <button class="btn btn-primary mt-2" type="submit">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
                  <title>lock</title>
                  <path
                    d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
                  </path>
                  <path
                    d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
                  </path>
                </svg>
    
                Register
              </button>
            </form>


            <div class=" text-center m-3">
              <p class="m-0 p-0">Already have an account?</p>
              <a href="{% url 'login' %}" class="m-0 p-0 fw-bold" style="color:#8c00ff">Log In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endif %}
    </main>


{% endblock %}