
{% extends 'main.html' %}


{% block content %}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->

        <!-- {% include 'base/topic_component.html' %} -->
{% for user in users %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a href="{% url 'user-profile' user.id %}" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" />
      </div>
      <span>@{{user.username}}</span>
    </a>
    <!-- <div class="roomListRoom__actions">
      <span>{{room.created|timesince}}</span>
    </div> -->
  </div>
  <div class="roomListRoom__content">
    <a href="{% url 'user-profile' user.id %}">{{user.name}}</a>
    <p>{{user.description}}
    </p>
  </div>
</div>
   
{% endfor %}
      </div>
    </main>
{% endblock %}
